.the-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.the-title{

}

.github-link{
padding-right: 10px;
}

.linkedin-link{
  padding-right: 10px;
}

.angellist{
padding-right: 10px;
}

.personal-site{

}

.left-head{

}

.right-head{
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.names-list{
  display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    background-color: #C7D9D9;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    
    /* padding-right: 230px; */
}

.topQB{

}

.avgQB{
  margin-left: 14px;
}
.topRB{
margin-left: 78px;
}

.avgRB{
margin-left: 49px;
}
.topWR{
margin-left: 79px;
}

.avgWR{
margin-left: 58px;
}
.topTE{
margin-left: 76px;
}

.avgTE{
margin-left: 52px;
}

.replacement{
margin-left: 80px;
}

.chart-title{
      background-color: #C7D9D9;
    width: 1400px;
    margin-bottom: 0px;
}

.right-side-main-pg{

}

.autocomplete-items{   
  max-height: 200px;
  overflow-y: scroll;
}

.stats-list{
  padding-left: 0px;
  font-size: 18px;
  display: grid;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.stats-list div{
  padding-bottom: 5px;
}

.even{
 background-color:lightseagreen;
}

.odd{
 background-color: orange ;
}

body{
  background-color: #C7D9D9;
}

.add-player{
 width: 100%;
}

.input-time{
 width: 100%;
}